@mixin initialBtn {
  background-color: initial;
  &:hover{
    background-color: initial;
    color: initial;
  }
}

@mixin routHeader {
  display: flex;
  height: fit-content;
  padding:10px 0
}
@mixin backBtnHover {
  background-color: rgb(235,235, 235);
  color: initial;
}
@mixin backBtn {
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: {
    right: 1rem ; 
    left: 2rem
  };
  &:hover{
    @include backBtnHover()
  }
}
$deep_blue:rgb(0, 140, 255);
$btnHoverBlue: rgb(29, 155, 240);
$btnLightBlue:rgb(164, 211, 255);

$rnBtn :rgb(0, 187, 84);
$heartBtn:rgb(243, 56, 56);

$popupBgColor:rgba(0, 0, 0, 0.4);