@import "./common";

#deleteUser {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $popupBgColor;
  z-index: 3;
}
.delete_inner {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffff;
}
.delete_alert {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.delete_btn-groups {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 25%;
  width: 50%;

  button {
    @include whiteBtn;
    padding: 10px 1rem;
    font-size: 1rem;
    width: 100%;
    margin: {
      bottom: 1rem;
      right: 5%;
    }
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.329) 0px 5px 5px;
  }
}

@media screen and (min-width: 728px) {
  .delete_btn-groups {
    flex-direction: row;
    margin-left: 10%;
    width: 80%;
    button {
      width: 30%;
    }
  }
}
@media screen and (min-width: 900px) {
  .delete_inner {
    left: calc(50% - 200px);
    width: 400px;
  }
}
