@import './common';

@mixin footer_common {
  color:rgb(117, 117, 117);
  font-size: 14px;
}
#footer {
  text-align: left;
  @include footer_common;
  a:link, a:visited ,a:hover, a:active{
    @include footer_common;
  }
  a:hover{
    border-bottom: 1px solid rgb(117,117,117);
  }
  
}

#auth #footer{
  margin-top: 14px;
}

// @media screen and (min-width:1024px) {
//   #auth #footer{
//     position:absolute;
//     right:10px;
//     bottom: 10px;
//   }
// }
