@import './common';

@mixin footer_common {
  color:rgb(117, 117, 117);
  font-size: 14px;
}
#footer {
  text-align: left;
  button {
    text-align: left;
    width: fit-content;
    @include initialBtn;
    border-radius: 0;
    box-shadow: none;
    @include footer_common;
    &:hover{
      @include footer_common;
      border-bottom: 1px solid rgb(117,117,117);
    }
  }
}
.footer_div {
  @include footer_common;
  a:link, a:visited ,a:hover, a:active{
    @include footer_common;
  }
  a:hover{
    border-bottom: 1px solid rgb(117,117,117);
  }
}
.footer_div:first-child{
  display: flex;
}
#photoBy {
  margin:10px 1rem;
}


.auth_main_div {
  #footer{
    margin-top: 10rem;
  }
}