@import '../asset/common';


#nav {
  position: absolute;
  width: 100%;
  height: 5rem;
  top:90%;
  left: 0;
  z-index: 1;
  #nav_myProfile:hover ,a:hover{
      background-color: $hoverGrey;
  }
  #nav_twitter{
    &:hover{
      background-color:rgb(215, 243, 253) ;
    }
    svg{
      color:$btnHoverBlue
    }
  }
  button{
    color: #fff;
    margin-top: 0;
    padding:0;
  }

  & >div:first-child{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
  } 
  a {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    position: relative;
  }
  #nav_myProfile{
    position: relative;
    margin-left: 0.2rem;
    width: 3.3rem ;
    padding: 10px ;
    background-color: initial;
    color:initial;
  }
  svg{
    font-size: 2rem;
  }
  img ,
  &>div:first-child a{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  &_nwitter {
    display: none;
  }
  &> div:nth-child(3){
    display: none;
  }
  &> div:nth-child(2) {
    position: absolute;
    top: -15vh;
    right: 10vw;
    svg{
      font-size: 1.5rem;
      padding: 10px 12px;
    }
  }
  #nav_profile{
    button{
      @include initialBtn;
      transition: 0.5s;
      margin:0;
      padding:0;
      img {
        box-sizing: content-box;
        margin:0;
        border:10px solid transparent;
        &:hover{
        border:10px solid $hoverGrey
      }
      }
    }

  }
  #account{
    position: absolute;
    bottom:6rem;
    left:10px;
    width:200px;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.329) 0px 5px 15px;
    border-radius: 10px;
    z-index: 5;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20%;
      border:20px solid transparent;
      border-top-color: #ffff;
      border-bottom:0;
      border-left: 0;
      width: 0;
      height: 0;
      margin-left: -5px;
      margin-bottom: -1.2rem;
    }
    &_user{
      padding:1rem;
      display: flex;
      border-bottom: 0.5px solid rgb(221, 221, 221);
      .nav_label{
        display: flex;
        flex-direction: column;
        color: initial;
        margin-left: 1.2rem;
        font-size: 1rem;
        div:first-child{
          font-weight: bold;
        }
      }
    }
    #account_btn{
      text-align: left;
      button{
        padding:10px 20%;
        color:initial;
        font-size: 1rem;
        border-radius: 0;
        &:hover{
          background-color: rgb(235, 235, 235); 
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}

#do_tweet {
  display: none;
  transition-duration: 0.5s;
}

.nav_label{
  display: none;
}

#deleteError {
  position: absolute;
  top:30%;
  left: 25%;
  background-color: rgb(255, 255, 255);
  box-shadow:rgba(0, 0, 0, 0.329) 0px 5px 15px;
  border-radius: 10px;
  z-index: 6;
  width: 50%;
  height: fit-content;
  font-size:1.2rem ;
  padding:1rem;
  div{
    text-align: center;
    margin: 1rem 0;
  }
  button{
    @include initialBtn;
    width: 40% ;
    margin :1rem 30%;
    background-color: rgb(59, 59, 59);
    color:#ffff;
    font-size: 1.2rem;
    padding: 10px 0;
    &:hover{
      background-color: $btnLightBlue;
      color:black
    }
  }
}
@media screen and (min-width:500px) {
  #nav {
    position: sticky;
    top:0;
    left: 0;
    height: 100vh;
    width: 20%;
    border-right: 1px solid $lineGrey;
    &>div {
      padding: 0 20%;
    }
    &_nwitter {
      display: block;
    }
  
    &> div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    a,
    #nav_myProfile{
      margin-top: 1.5rem;
      margin-left: 0;
    }
    svg{
      font-size: 2rem;
    }
    #nav_myProfile svg{
      font-size: 1.7rem;
    }
    img ,
    &_nwitter{
      width: 2.5rem;
      height: 2.5rem;
    }
    &_profile img{
      width: 2.8rem;
      height: 2.8rem;
    }
    &> div:nth-child(3) {
      display: block;
      position: relative;
      margin-top: 2rem;
    }
    &> div:nth-child(2){
      display: block;
      position: relative;
      top:initial;
      right: initial;
      margin-top: 2rem;
    }
    &_popUp , 
    &_profile img{
      margin-left: 6px
    }
  
    &>div:nth-child(2)  svg{
      font-size: 1.5rem;
    }
  }

  
}
@media screen and (min-width:728px) {
  #nav > div {
    margin-left: 10%;
  }
}
@media screen and (min-width:1024px) {
  #nav {
    width: 8%;
    padding-left: 3%;
    padding-right: 3%;
    & >div {
      margin-left: 2rem;
      padding:1rem 0;
      &:first-child{
        font-size: 1.8rem;
        #nav_myProfile ,a{
          border-radius: 9999px;
        }
      }
      &:nth-child(2){
        width: initial;
        margin-left: 2rem;
      }
    }
    img {
      width: 2.8rem;
      height: 2.8rem;
    }
    #nav_twitter {
      padding:5px
    }
    #nav_popUp {
      font-size: 10px;
    }

  }

  #nav_profile{
    margin:  {
      top:0;
      left:0
    };
  }

  #deleteError {
    width: 30%;
    left:35%
  }
  #nav #account{
    width: 230px;
  }
}

@media  screen and (min-width:1300px) {
  #nav {
    width:20%
  }
  #do_tweet {
    display: block;
    font-size: 1.2rem;
    padding: 3% 0;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.014) 0px 8px 28px;
  }
  
  #nav_popUp svg{
    display: none;
  }

  #nav{
    &>div:first-child a,
    #nav_myProfile{
    display: flex;
    width: 80%;
    padding-left: 14px;
    height: auto;
  }
  svg{
    font-size: 1.8rem;
  }
  &>div:nth-child(2) {
    width: 80%;
    margin-top:1rem;
    button{
      padding:4px 0 ;
      &:hover{
        padding:6px 0;
        transition: 0.3s;
      }
    }
  } 
  &>div:nth-child(3){
    margin-top:1rem
  }
  #nav_popUp{
    width: 90%;
  }
  img{
    width: 3rem;
    height: 3rem;
  }
  #nav_twitter{
    margin-left: 14px;
    padding:10px;
    width: fit-content;
  }
  }
  .nav_label{
    display: block;
    margin-left: 5%;
    font-size: 1.3rem;
    &.on{
      font-weight: bold;
    }
  }
  
  #nav #nav_profile {
    button {
      display: flex;
      flex-direction: row;
      color:initial;
      width: 95%;
      &:hover{
        background-color: $hoverGrey;
      }
      img:hover{
        border-color: transparent;
      }
    }
    .nav_label{
    font-size: 1.1rem;
    margin-top: 10px;
    div:last-child{
    margin-top: 10px;
    font-size: 1rem;
    }
  }
  }
}

@media screen and (min-width:1440px) {
  #deleteError{
    width: 25%;
    left: 37.5%;
  }
}
