.tweet_fun {
  width: 79%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
  button {
    font-size: 1.2rem;
    padding: 10px 13px;
    color: black;
    border-radius: 50%;
    background-color: initial;
  }
  button ,
  & >a {
  padding:10px 13px ;
  border-radius: 50%;
  margin-top: 0;
  } 
  &_rtAndLikeFun{
    position: relative;
  }
  a:hover{
    font-weight: bold;
    color:rgb(0, 156, 247) ;
    background-color: rgb(225, 242, 252) ;
  }
  
}


.rtBtn {
  position: relative;
  &:hover{
  font-weight: bold;
  background-color: rgb(231, 252, 231);
  }

  &.on ,&:hover{
    color: rgb(0, 187, 84);
  }
}

.fun .answer:hover {
  background-color: rgb(213, 234, 253);
  color: rgb(12, 135, 250);;
}

.heartBtn {
  &:hover {
  font-weight: bold;
  background-color: rgb(255, 234, 236);
  }
  &.on, &:hover {
    color: rgb(252, 18, 30);
  }
}


.rt_popup {
  background-color: rgb(255, 255, 255);
  width: 10rem;
  z-index: 2;
  position: absolute;
  bottom:0;
  right:0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0.005px #797979; 
  box-shadow: 0px 0px 5px 0.005px #797979;
  button{
    background-color: initial;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    &:hover , a:hover{
      color: initial; 
      background-color:rgb(255, 255, 255); 
      font-weight: initial
    }
  }
}
