
button {
  border: 1px solid  rgba(0, 0, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}
.rhBtn ,
.rhBtn.on{
  color:rgb(119, 119, 119);
  font-size: 1.2rem;
  border-radius: 50%;
}
.rhBtn.on {
  color:rgb(0, 76, 218);
}
.rhBtn:hover,
.rhBtn.on:hover{
  background-color: rgb(197, 222, 255);
}
.nweet_fun_rtAndLikeFun{
  position: relative;
}
.rnPopup {
  display: none;
  margin:0;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.rnPopup.show{
  display: block;
}